
.container {
  text-align: center;
}


.class-card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


h3 {
  font-size: 24px;
}


button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
}

button:hover {
  background-color: #0056b3;
}

/* Accordion content styles */
.class-card .accordion-content {
  display: none; 
  padding: 10px; 
}

.class-card.active .accordion-content {
  display: block; 
}
