/* YourComponent.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(rgba(255, 187, 51, 0.7), rgba(102, 51, 0, 0.7)), url("/Images/FC.jpeg");  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Title styles */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff; 
  text-shadow: 2px 2px 2px #663300; 
}

/* Button styles */
button {
  background-color: #ffbb33; 
  color: #fff;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px; 
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff9900; 
}

/* Class details styles */
p {
  font-size: 1.2rem;
  margin: 10px; 
  color: #333; 
}

/* Message styles */
.no-class-selected {
  font-style: italic;
  color: #ccc; 
}
