.nav {
  /* Flexbox layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffbb33; 
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 28px;
  font-weight: 700;
  color: #663300; 
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #663300;
  background-color: #ffbb33; 
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  transition: background-color 0.3s;
  margin-left: 10px; 
}

.navLink:hover {
  background-color: #ff9900; 
}
